<div class="nav-con">
	<nav class="navbar navbar-default navbar-right">
	  <div class="container-fluid">
	    <ul class="nav navbar-nav">
	      <li><a href="/">Home</a></li>
	    <!--  <li><a href="/order">Find Order</a></li> -->
	    </ul>
	  </div>
	</nav>
	<div class="clearfix"></div>
</div>	